$rem: 18.75;
// 主色调
$maincolor: #F14B4B;
$maincolor2: #fe8400;
$maincolor3: #F14B4B;
$maincolor4: #4990E2;
img {
  width:100%;
  vertical-align: top;
  pointer-events: none;/*禁用鼠标长按保存图片*/ 
}
a{
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  display: inline-block;
}
.one-line{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.flex {
   display: flex;
   display: -webkit-flex;
   align-items: center;
   -webkit-align-items: center;
}
.center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.left {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
}

.space-between {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}
span, a{
  display: inline-block;
}
